h1 {
  font-family: Lato;
  
 
}
h4 {
  -webkit-text-stroke: 1.5px black;
  color: yellow;
  font-size: 1.3em;
}

p {
  color: red;
  font-size: 15px;
}

.page {
  background-color: lightsteelblue;
  text-align: center;
}

.table-content {
    text-align: center;
    width: 100%; 
}

.heading {
  background-color: green;
  color: white;
}

button {
  padding:5px;
  background-color: #8eff93;
  border: 1px solid #666;
  color:#000;
  text-decoration:aqua;
}

button:focus {
  background-color: #fa997c;
  color: black;
}

td {
  text-align: left;
}

